@font-face {
    font-family: "Angel-Tears";
    src: url("./fonts/Angel-Tears.otf");
  }

/* Start of Classes */

.title{
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Angel-Tears';
    font-size: 120px;
}

.menu{
    text-align: center;
    background-color: antiquewhite;
}
.menu body{
    text-align: justify;
    
}

.button{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 52px, 160px;
    font-size: 24px;
    background-color: white;
    color: green;
    border-color: green;
}
.button:hover{
    background-color: lime;
    color: black;
    border-color: lime;
}
.menu button{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* AKA - index.html */
.login{
    text-align: center;
    background-color: antiquewhite;
}
#login input{
    margin: 25px;
}


.about{
    text-align: center;
    background-color: antiquewhite;
}
.about button{
    margin-top: 0px;
    margin-bottom: 0px;
}


.info{
    text-align: center;
    background-color: antiquewhite;
}


.load{
    text-align: center;
}

.temp{
    color: black;
    text-align: center;
    background-color: antiquewhite;
}

.setup{
    text-align: center;
    background-color: antiquewhite;
}

.input-group{
    text-align: center;
}

.input-group>input.width {
    text-align: center;
    flex: 0 1 200px;
}


/* Start of ID's */


#contact{
    text-align: center;
    background-color: antiquewhite;
}
#width{
    flex: 0 1 100px;
}


/* background images */
#castle{
    background-image: url(../Images/Castle\ 1.jpeg);
}
#cave{
    background-image: url(../Images/Cave\ 1.jpeg);
}
#forest{
    background-image: url(../Images/Forest\ 1.jpeg);
}
#gate{
    background-image: url(../Images/Gate\ 12.jpg);
}
#home{
    background-image: url(../Images/Home\ 1.jpeg);
}
#village{
    background-image: url(../Images/Village\ 1.jpeg);
}




/* Text Dialogue Popups */
#dialog{
    padding: 50px;
    background-color: lightgray;
}
#dialog :hover{
    padding: 50px;
    background-color: grey;
}

