/* Start of Classes */

.menu{
    text-align: center;
    background-color: antiquewhite;
}
.menu body{
    text-align: justify;
    
}


/* AKA - index.html */
.login{
    text-align: center;
    background-color: antiquewhite;
}
.login button{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    color: aqua;
    border-color: aqua;
}
.login button:hover{
    background-color: blue;
    color: black;
    border-color: blue;
}
#login input{
    margin: 25px;
}


.about{
    text-align: center;
    background-color: antiquewhite;
}


.info{
    text-align: center;
    background-color: antiquewhite;
}


.load{
    text-align: center;
}

.temp{
    color: black;
    text-align: center;
    background-color: antiquewhite;
}



/* Start of ID's */


#contact{
    text-align: center;
}



/* background images */
#castle{
    background-image: url(../Images/Castle\ 1.jpeg);
}
#cave{
    background-image: url(../Images/Cave\ 1.jpeg);
}
#forest{
    background-image: url(../Images/Forest\ 1.jpeg);
}
#gate{
    background-image: url(../Images/Gate\ 12.jpg);
}
#home{
    background-image: url(../Images/Home\ 1.jpeg);
}
#village{
    background-image: url(../Images/Village\ 1.jpeg);
}




/* Text Dialogue Popups */
#dialog{
    padding: 50px;
    background-color: lightgray;
}
#dialog :hover{
    padding: 50px;
    background-color: grey;
}